
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
  font-family: "Source Sans 3", sans-serif;

}
.container {
    padding: 20px;
  }
  
  .title {
    /* font-size: 28px; */
    /* font-weight: bold; */
    margin-bottom: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 24px;

  }
 
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .avatar {
    background-color: #dc3545;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .author {
    margin: 0;
    font-size: 16px;
  }
  
  .date {
    font-size: 14px;
    color: #777;
    margin-top: 2px;
  }
  
  .content {
    line-height: 1.6;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .card {
      padding: 15px;
    }
  
    .avatar {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  
    .title {
      font-size: 24px;
    }
  }
  